.usuarios-panel{
    padding: 20px;
    padding-top: 45px;
    background-color: #ffffff;
    color: black; 
}

.header-usuario{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}