@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.dashboard-izquierdo{
    width: 360px;
    background-color: #070C33;
    position: fixed;
    transform: translate(-210%, 0%);
    text-align: center;
}

.barra-superior-dashboard{
    width: 1900px;
    margin-left: 0px;
    background-color: #070C33;
    transform: translate(0%, 0%);
    position: fixed;
    z-index: 1000;
    height: 96px;
}

.nav-link{
    color: #ffff;
    font-weight: 700;
    text-decoration: none;
    font-family: 'Open Sans';
    font-size: 24px;
}

.nav-item{
    width: 328px;
    height: 72px;
}

.nav-item.active .nav-link {
    background-color: #FFC700;
    color: #000;
    font-weight: bold;
    border-radius: 8px; 
}

.nav-link:hover{
    color: #FFC700;
}

.icono-dashboard{
    margin-left: 63px;
}

.icono-dashboard2{
    margin-left: 70px;
}

.rol-dashboard{
    transform: translate(700%, 0%);
    font-family: 'Open Sans';
    font-size: 24px;
    font-weight: 800;
}

.agregar-empleado-panel{
    background-color: #070C33;
    margin-left: -20px;
    width: 968px;
    height: 800px;
    transform: translate(0%, -8%);
    min-height: 100vh;
}

.cerrar-sesion-dashboard{
    margin-top: 120px;
}

.icono-dash{
    font-size: 30px;
    padding-right: 20px;
}

.contenido-dashboard{
    margin-left: 60px;
    background-color: rgb(255, 255, 255);
    width: 1545px;
    margin-top: 70px;
    height: auto;
    overflow-x: hidden; /* Oculta el scroll horizontal */
    
}