@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.dashboard-izquierdo{
    width: 250px;
    margin-left: -56px;
    background-color: #070C33;
    position: fixed;
    transform: translate(-184%,0%);
}

.barra-superior-dashboard{
    width: 971px;
    margin-left: -2px;
    background-color: #070C33;
    transform: translate(8%, 0%);
    position: sticky;
}

.nav-link{
    color: #ffff;
    font-weight: 700;
    text-decoration: none;
    font-family: 'Open Sans';
}

.nav-item.active .nav-link {
    background-color: #FFC700;
    color: #000;
    font-weight: bold;
    border-radius: 8px; 
}

.nav-link:hover{
    color: #FFC700;
}

.contenido-dashboard{
    margin-left: 75px;
    background-color: #b31919;
    width: 972px;
    /*margin-bottom: -10px;
    background-size: cover;
    min-height: 93vh;*/
    height: 583px;
}

.icono-dashboard{
    margin-left: 63px;
}

.icono-dashboard2{
    margin-left: 70px;
}

.rol-dashboard{
    transform: translate(550%, 0%);
    font-family: 'Open Sans';
}

.agregar-empleado-panel{
    background-color: #070C33;
    margin-left: -20px;
    width: 968px;
    height: 800px;
    transform: translate(0%, -8%);
    min-height: 100vh;
}