
.panel-agregar-platillo{
    width: 1112px;
    height: auto;
    background-color: #ffffff;
    padding: 192px 224px;
    overflow-y: hidden;

}
.titulo-nuevo-platillo{
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 48px;
    text-align: center;
    color: #ffffff;
    margin-top: -100px;
}

.formulario-agregar-platillo{
    background-color: #070C33;
    width: 920px;
    display: flex;
    height: auto;
    padding: 56px 96px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    flex: 1 0 0;
    border: none;
    border-radius: 24px;
    margin: 0 auto;
}

.caja-informacion-agregar-platillo{
    width: 856px;
    height: auto;
    padding: 0px 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.margen-horizontal-agregar-platillo{
    margin-right: 32px;
}

.margen-vertical-agregar-platillo{
    margin-bottom: 32px;
}

.margen-entre-medianas-agregar-platillo{
    margin-bottom: 8px;
}

.separacion-cajaI-cajaB{
    margin-bottom: 120px;
}

.caja-titulo-agregar-platillo{
    width: 816px;
    height: 72px;
}

.titulo-agregar-platillo{
    color: #FFF;
    text-align: center;
    font-family: Oswald;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.caja-instrucciones-agregar-platillo{
    width: 816px;
    height: auto;
}

.subtitulo-agregar-platillo{
    color: #FFF;
    text-align: center;
    font-family: Oswald;
    font-size: 32px;
    font-style: normal;
}

h3{
    color: #FFF;
    text-align: center;
    font-family: Oswald;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.caja-chicos-agregar-platillo{
    display: flex;
}

.caja-medianos-agregar-platillo{
    display: flex;
    height: auto;
}

.caja-grandes-agregar-platillo{
    display: flex;
    margin-top: -60px;
}

.caja-descripcion-agregar-platillo{
    display: block;
}

.contenedor-select-agregar-platillo{
    display: flex;
    justify-content: center;
    position: relative;
    width: 392px;
    height: auto;
}

.caja-select-agregar-platillo{
    border-radius: 16px;
    border: none;
    appearance: none;
    padding: 10px 16px;
    width: 392px;
    color: #070C33;
    background-color: #D9D9D9;
    font-size: 24px;
    height: auto;
}

.caja-select-agregar-platillo option{
    color: #070C33;
    width: 392px;
}

.cajita-select-agregar-platillo{
    width: 392px;
}

.contenedor-select-agregar-platillo .contenedor-icono-agregar-platillo{
    width: 80px;
    height: 56px;
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFC700;
    border-radius: 0px 16px 16px 0px;
    border: none;
}

.contenedor-icono-agregar-platillo i{
    font-size: 40px;
    color: white;
    padding: auto;
}

.estilo-input-agregar-platillo{
    border-radius: 16px;
    background: #D9D9D9;
    border: none;
}

.estilo-input-eliminar-agregar-platillo{
    border-radius: 16px;
    background: #AB0A0A;
    border: none;
}

.input-texto-eliminar-agregar-platillo{
    font-family: 'open sans', sans-serif;
    font-size: 24px;
    color: #ffffff;
}

.input-chico-agregar-platillo{
    width: 148px;
    height: auto;
    padding: 16px 16px;
}

.input-mediano-agregar-platillos{
    width: 360px;
    height: 24px;
    padding: 16px 16px;
}

.input-grande-agregar-platillo{
  
    padding: 16px 16px;
    width: 536px;
    height: auto;
    border-radius: 16px;
}

.input-descripcion-agregar-platillo{
    width: 784px;
    height: auto;
    padding: 16px 16px;
}

.input-mediano-agregar-platillo:hover{
    cursor: pointer;
    background-color: #44464a;
    color: #ffffff;
}

.input-grande-agregar-platillo:hover{
    cursor: pointer;
    background-color: #44464a;
    color: #ffffff;

}

.input-descripcion-agregar-platillo:hover{
    cursor: pointer;
    background-color: #44464a;
    color: #ffffff;
}

.agregar-platillo-ingredientes2{
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 40px;
    text-align: center;
    color: #ffffff;
}

.label-mediano-agregar-platillo2{
    width: 392px;
    height: 56px;
    border-radius: 16px;
    background-color: #D9D9D9;
    font-size: 24px;
}

.input-texto-agregar-platillo{
    font-family: 'open sans', sans-serif;
    font-size: 24px;
    color: #070C33;
}

.input-contraseña{

}

.icono-ver-contrasena-agregar-platillo{
    cursor: pointer;
    font-size: 32px;
    
    margin: auto;
}

.input-select-agregar-platillo{
    appearance: none;
}

.estilo-label-agregar-platillo{
    color: #FFF;
    font-family: "Open Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.label-chico-agregar-platillo{
    width: 180px;
    height: 32px;
    flex-shrink: 0;
}

.label-mediano-agregar-platillo{
    width: 392px;
    height: 32px;
    flex-shrink: 0;
}

.label-grande-agregar-platillo{
    display: flex;
    width: 280px;
    height: 56px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}

.label-descripcion-agregar-platillo{
    width: 816px;
    height: 32px;
    flex-shrink: 0;
}

.caja-botones-agregar-platillo{
    width: 752px;
    height: 64px;
    display: flex;
    padding: 20px 84px;
}

.caja-boton-agregar-platillo{
    width: 280px;
    height: 64px;
}

.boton-regresa-agregar-platillor{
    width: 100%;
    height: 100%;
    border: 1px solid #FFC700;
    background-color: #070C33;
    color: #fff;
    border-radius: 40px;
    font-family: 'Open Sans',sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.boton-ingresar-agregar-platillo{
    width: 100%;
    height: 100%;
    border: 1px solid #FFC700;
    background-color: #FFC700;
    color: #070C33;
    border-radius: 40px;
    font-family: 'Open Sans',sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.separacion-botones-agregar-platillo{
    margin-right: 192px;
}

.boton-ingresar-agregar-platillo:hover{
    background-color: #fff;
    color: #070C33;
}

.boton-regresar-agregar-platillo:hover{
    background-color: #fff;
    color: #070C33;
}

.estilo-icono-agregar-platillo{
    font-weight: bold;
}

.estilo-label-agregar-platillo-2{
    color: #ffffff;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 24px;
    margin-left: 70px;
}

.input-cantidad-platillo{
    width: 232px;
    height: 56px;
    border-radius: 16px;
    background-color: #D9D9D9;
    font-size: 24px;
}

.eliminar-platillo{
    background-color: #AB0A0A;
    border: none;
    height: 56px;
    border-radius: 16px;
    color: #ffffff;
    margin-left: 60px;
    margin-top: 30px;
    width: 100px;
}

.caja-productos-agregar-platillo {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-height: none; /* Asegura que no haya altura máxima */
    overflow-y: auto; /* Si hay muchos productos, permite scroll */
    width: 100%;
}
